@use '../variables' as *;
@use '../media' as *;

.hero {
  color: $light;
  background-color: $purple;
  background-image: url('/img/bg-dog.png'), url('/img/pattern.svg');
  background-size: contain, auto;
  background-position: right bottom, center;
  background-repeat: no-repeat, repeat;
  padding: 218px 0 245px;

  @include bigscreen {
    background-image: url('/img/bg-dog-bigscreen.png'), url('/img/pattern.svg');
    background-position: left 48vw bottom 0, center;
    background-size: 1850px, auto;
  }

  @include laptop {
    background-image: url('/img/bg-dog-laptop.png'), url('/img/pattern-laptop.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    padding: 148px 0 172px;
  }

  @include tablet {
    background-image: url('/img/bg-dog-tablet.png'), url('/img/pattern.svg');
    background-size: 655px 564px, cover;
    padding: 108px 0 461px;
  }

  @include mobile {
    background-image: url('/img/bg-dog-mobile.png'), url('/img/pattern.svg');
    background-size: 294px 256px, cover;
    padding: 100px 0 284px;
  }

  &_store {
    background-color: $green;
    background-image: url('/img/bg-cat.png'), url('/img/pattern.svg');
    background-size: 839px, auto;

    @include laptop {
      background-size: 639px, auto;
    }

    @include tablet {
      background-size: 100%, auto;
    }
  }

  &__title {
    width: 810px;
    max-width: 100%;
    margin-bottom: 50px;

    @media (max-width: 1300px) {
      width: 660px;
    }

    @include laptop {
      width: 588px;
      margin-bottom: 32px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 420px;
    margin-bottom: 60px;

    @include bigscreen {
      max-width: 500px;
    }

    @include laptop {
      max-width: 360px;
      margin-bottom: 40px;
    }

    @include mobile {
      max-width: 300px;
      margin-bottom: 20px;
    }
  }

  &__store-link {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    font-weight: 700;
    font-size: 24px;
    background-color: $green;
    outline: 1px solid transparent;
    border-radius: 40px;
    transition-property: background-color, transform;
    transition-duration: 0.3s, 0.1s;
    transition-timing-function: ease-in-out;
    padding: 16px 24px;

    @include laptop {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
      padding: 11px 24px;
    }

    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('/img/arrow-to-store.svg') no-repeat center/contain;
    }

    &:hover {
      background-color: #00772f;
    }

    &:focus-visible {
      outline-color: $carrot;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
