@use '../variables' as *;

.order-message {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(black, 0.4);
  padding: 20px;

  &__text {
    text-align: center;
    margin-bottom: 20px;
  }

  &__close-button {
    display: block;
    background-color: $carrot;
    color: $light;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0 auto;
  }
}
