@use '../variables' as *;
@use '../media' as *;

.store {
  padding: 120px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__categories {
    display: flex;
    gap: 28px;
  }

  &__category-button {
    position: relative;
    color: $carrot;
    padding-bottom: 10px;

    &_active {
      color: $green;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: transparent;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &_active::after {
      background-color: $green;
      transform: scale(1);
    }
  }

  &__cart-button {
  }

  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__product {
  }
}
