@use '../variables' as *;
@use '../media' as *;

.store {
  padding: 120px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__categories {
    display: flex;
    gap: 28px;
  }

  &__category-button {
    position: relative;
    color: $carrot;
    padding-bottom: 10px;

    &_active {
      color: $green;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: transparent;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &_active::after {
      background-color: $green;
      transform: scale(1);
    }
  }

  &__cart-button {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
  }

  &__cart-count {
    position: relative;
    z-index: 2;
    bottom: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: $light;
  }

  &__cart-icon {
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 32px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    justify-content: center;
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__item {
    display: flex;
  }
}
